.converter{
  padding: 40px 0;
  &__container{
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0, 0.5);
    padding: 60px 5%;
    display: grid;
    grid-template-columns: 1fr 40px 1fr;
    align-items: center;
    grid-gap: 40px 20px;
  }
  h1{
    grid-column: 1/4;
    text-align: center;
  }
  svg{
    fill: $color-blue;
    max-width: 40px;
    margin: 0 auto;
    cursor: pointer;
    opacity: 0.8;
    &:hover{
      opacity: 1;
    }
  }
}
.currency-box{
  display: grid;
  width: 100%;
  gap: 40px;
  input, select{
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px solid $color-grey;
    &:focus{
      outline: 3px solid $color-grey;
    }
  }
}